* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: black;
  display: flex;
  padding: 20px;
  width: 100%;
  height: 82.3px;
  position: relative;
  align-items: center;
}

.botao_header {
  position: absolute;
  right: 0;
}

.botao_header button {
  background-color: red;
  padding: 16px;
  border-radius: 25px;
  width: 110px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-right: 15px;
}

.introducao {
  background-color: red;
  padding: 30px;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  color: white;
}

.introducao h3 {
  margin-top: 10px;
  font-size: 22px;
}

.icone_formulario {
  background-color: #fb7a7a;
  border-radius: 100%;
  padding: 40px;
  width: 50px;
  height: 50px;
  position: relative;
  margin-bottom: 15px;
}

.icone_formulario img {
  position: absolute;
  top: 19px;
  left: 23px;
  width: 35px;
}

.dados {
  background-color: #1a1a1a;
  color: white;
  width: 1100px;
  height: 800px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

#botao_login_cadastrar {
  background-color: black;
  width: 280px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

#botao_login_cadastrar button {
  width: 42%;
}

#botao_cadastrar {
  background-color: red;
  border: none;
  padding: 12px;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

#botao_login {
  background-color: black;
  border: none;
  padding: 12px;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

#campos1,
#campos2,
#campos3,
#campos5 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto 0;
  align-items: center;
}

#par_inputs,
#par_inputs2,
#par_inputsP2,
#par_inputsP3,
#par_inputs2P3 {
  display: flex;
  gap: 50px;
}

#campos1 input,
#campos2 input,
#campos5 input,
#campos1 select {
  border: solid 1px #737373;
  border-radius: 5px;
  padding: 10px 50px;
  width: 350px;
  height: 60px;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
}

#campos3 input,
#campos4 input {
  border: dashed 1px #737373;
  border-radius: 5px;
  padding: 10px 50px;
  width: 350px;
  height: 60px;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
}

#par_inputsP2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

#botao_avancar {
  display: flex;
  justify-content: center;
}

#avancar {
  background-color: red;
  width: 200px;
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#voltar {
  background-color: transparent;
  width: 200px;
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid red;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#botao_avancar_voltar,
#botao_criarConta{
  display: flex;
  gap: 20px;
  justify-content: center;
}

#responsavel {
  margin-bottom: 10px;
}

#responsavel h3,
#documentos h3 {
  display: flex;
  justify-content: center;
  color: red;
  border-bottom: 2px solid red;
  padding-bottom: 20px;
  width: 300px;
}

#documentos h3{
  padding-top: 25px;
}

#campos4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#par_trios {
  display: flex;
  gap: 60px;
  height: 450px;
}

#par_trios h3 {
  text-align: center;
  color: red;
  border-bottom: 2px solid red;
  padding-bottom: 15px;
  width: 300px;
  
}

#trio_inputsP4_container,
#trio_inputs2P4_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}
