* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.janela {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
  background-color: black;
}

.header-left {
  background-color: #1a1a1a;
  color: white;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-left h1 {
  text-align: center;
  margin-top: 40px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  width: 85%;
}


.header-left img {
  width: 40px;
  margin-right: 20px;
  margin-left: 5px;
}

.quiz {
  margin-top: 50px;
  background-color: #8a2be2;
  border-radius: 8px;
  width: 80%;
  height: 7%;
  display: flex;
  align-items: center;
}

.quiz h3 {
  width: 100%;
}

.btn-logout img{
  width: 40px;
}

.btn-logout{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}
