* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.janela {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: black;
  position: absolute;
  align-items: center;
}

.header-left {
  background-color: #1a1a1a;
  color: white;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

.header-left h1 {
  text-align: center;
  margin-top: 40px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  width: 85%;
}

.header-left img {
  width: 40px;
  margin-right: 20px;
  margin-left: 5px;
}

.quiz {
  margin-top: 50px;
  background-color: red;
  border-radius: 8px;
  width: 80%;
  height: 7%;
  display: flex;
  align-items: center;
}

.quiz h3 {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.btn-logout img {
  width: 40px;
}

.btn-logout {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.container-graficos-direita {
  display: block;
  position: absolute;
  margin-right: 300px;
  padding: 50px;
  bottom: 20px;
  text-align: center;
  margin-bottom: 60px;
}

canvas {
  display: block;
  box-sizing: border-box;
  height: 350px;
  width: 462px;
}

#hello {
  color: white;
  width: 52%;
  margin-top: 40px;
}

#ranking {
  background-color: #1a1a1a;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  margin: 50px 80px 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  border-top: 6px solid #ff0000;
  color: white;
  text-align: center;
}

#primeiro_lugar,
#segundo_lugar,
#terceiro_lugar,
#quarto_lugar,
#quinto_lugar {
  background-color: #000;
  padding: 10px;
  height: 65px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
}

#colocacao {
  background-color: #ff0000;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

#kpi{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1a1a1a;
  border-left: 6px solid #ff0000;
  width: 250px;
  height: 140px;
  border-radius: 5px;
  color: white;
  text-align: center;
  gap: 20px;
  margin-left: 100px;
}

#kpis{
  display: flex;
  margin-left: 700px;
}
