* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.janela {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: black;
  position: absolute;
  align-items: center;
}

.header-left {
  background-color: #1a1a1a;
  color: white;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

.header-left h1 {
  text-align: center;
  margin-top: 40px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  width: 85%;
}

.header-left img {
  width: 40px;
  margin-right: 20px;
  margin-left: 5px;
}

.quiz {
  margin-top: 50px;
  background-color: red;
  border-radius: 8px;
  width: 80%;
  height: 7%;
  display: flex;
  align-items: center;
}

#botao_quiz{
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.quiz h3 {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.btn-logout img {
  width: 40px;
}

.btn-logout {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.container-graficos-direita {
  display: block;
  position: absolute;
  margin-right: 300px;
  bottom: 0;
  text-align: center;
  margin-bottom: 0;
}

canvas {
  display: block;
  box-sizing: border-box;
  height: 350px;
  width: 462px;
}

#hello {
  color: white;
  width: 52%;
  margin-top: 40px;
}

#ranking {
  background-color: #1a1a1a;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  margin: 50px 80px 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  border-top: 6px solid #ff0000;
  color: white;
  text-align: center;
  margin-left: 80px;
}

#primeiro_lugar,
#segundo_lugar,
#terceiro_lugar,
#quarto_lugar,
#quinto_lugar {
  background-color: #000;
  padding: 10px;
  height: 65px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
}

#colocacao {
  background-color: #ff0000;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

#primeiro_nome,
#segundo_nome,
#terceiro_nome,
#quarto_nome,
#quinto_nome {
  margin-left: 0;
  width: 200px;
  text-align: start;
}

#area_ranking {
  background-color: black;
  color: white;
  height: 100vh;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 2px solid #d00;
  justify-content: center;
}

#kpi_tentativas,
#kpi_melhor_pontuacao {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1a1a1a;
  border-left: 6px solid #ff0000;
  width: 250px;
  height: 140px;
  border-radius: 5px;
  color: white;
  text-align: center;
  gap: 20px;
  margin-left: 100px;
}

#kpi_tentativas,
#kpi_melhor_pontuacao span {
  font-size: 22px;
  font-weight: bold;
}

#kpis {
  display: flex;
  margin-left: -280px;
  margin-top: 88px;
}

#myChartBarra {
  display: flex;
  box-sizing: border-box;
  height: 235px;
  width: 470px;
  justify-content: center;
  margin-left: 210px;
  margin-top: 30px;
}

.card-grafico-menor {
  width: 800px;
  height: 400px;
  display: flex;
  bottom: 0;
}

.grafico-barra {
  width: 600px !important;
  height: 300px !important;
}

#span_grafico {
  font-size: 22px;
  font-weight: bold;
  margin-left: 230px;
}
