* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.janela {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: black;
  position: absolute;
  align-items: center;
}

.header-left {
  background-color: #1a1a1a;
  color: white;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

.header-left h1 {
  text-align: center;
  margin-top: 40px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  width: 85%;
}

.header-left img {
  width: 40px;
  margin-right: 20px;
  margin-left: 5px;
}

.quiz {
  margin-top: 50px;
  background-color: red;
  border-radius: 8px;
  width: 80%;
  height: 7%;
  display: flex;
  align-items: center;
}

.quiz h3 {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.btn-logout img {
  width: 40px;
}

.btn-logout {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.container-graficos-direita {
  display: block;
  position: absolute;
  margin-right: 300px;
  padding: 50px;
  bottom: 20px;
  text-align: center;
}

canvas {
  display: block;
  box-sizing: border-box;
  height: 320px;
  width: 432px;
}
