/*Aplicando estilização na tela inteira*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
}

/*Estilização do cabeçalho*/
.header {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.header span {
  color: red;
}

/*Estilização dos links do cabeçalho*/
.links_header {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.links_header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/*Estilização do botão de login*/
.botao_header button {
  background-color: red;
  padding: 12px;
  border-radius: 20px;
  width: 90px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  margin-right: 8px;
}

.btn_login{
  cursor: pointer;
}

#main {
  background-color: black;
  color: white;
  padding: 220px;
  background-image: url(../assets/img\ tela\ principal.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#falcao {
  color: red;
}

#real {
  margin-left: 133px;
}

#main h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

#main h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

#main button {
  background-color: white;
  color: red;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/*SOBRE*/

#sobre {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

#left_sobre{
  display: flex;
  flex-direction: column;
}

#sobre img{
  width: 400px;
  border-radius: 5px;
  border: 2px solid red;
}

#titulo_subtitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  width: 80%;
}

#titulo_subtitulo h1 {
  margin-bottom: 30px;
  border-bottom: 2px solid red;
  padding-bottom: 20px;
  width: 150px;
  font-size: 50px;
}

.textos_sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 65px;
}

.textos_sobre h2 {
  margin-bottom: 40px;
  font-size: 40px;
}

.textos_sobre button {
  color: white;
  background-color: red;
  margin-top: 40px;
  width: 150px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/*PILARES*/

#pilares {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  height: 90vh;
  flex-direction: column;
}

#pilares img {
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

#titulos {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 200px;
  margin-top: 60px;
  font-size: 25px;
}

#titulos h1 {
  border-bottom: 2px solid red;
  padding: 20px;
}

#cards {
  display: flex;
  justify-content: space-evenly;
  height: 90%;
  align-items: center;
}

#card_fisico,
#card_mental,
#card_espiritual {
  background-color: #000000;
  padding: 50px;
  height: 350px;
  border-radius: 8px;
  border-left: 6px solid #ff0000;
}

#footer {
  background-color: black;
  color: white;
  display: flex;
  padding: 30px;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

#links a{
  color: white;
  text-decoration: none;

}

#linha {
  width: 100%;
}

#redes_sociais img {
  width: 40px;
}

#footer input {
  border: solid 1px #737373;
  border-radius: 5px;
  padding: 10px 50px;
  width: 250px;
  height: 50px;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #ffffff;
}

#colunas {
  display: flex;
  justify-content: space-between;
}

#novidades {
  display: flex;
  flex-direction: column;
}

#redes_sociais {
  position: relative;
  width: 10%;
  bottom: 50px;
  left: 1300px;
}

#footer h1{
  border-bottom: 3px solid red;
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
}
#footer p{
  margin-bottom: 15px;
}

#Local{
  font-weight: bold;
}

#footer button{
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 10px;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

