
/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
}

body img{
width: 100%;
}

/* CONTAINER PRINCIPAL */
#pontuacaoEJogo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 60%;
  margin-top: 20px;
}

.headerQuiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #181627;
  padding: 20px 30px;
  border-radius: 12px;
  border: 2px solid #2b224a;
  width: 60%;
  margin: auto;
}

.headerQuiz h1 {
  font-size: 26px;
  font-weight: 600;
}

.headerPontos {
  display: flex;
  gap: 15px;
}

.pontos {
  background: #1f1a33;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  width: 85px;
}

.pontos span:first-child {
  font-size: 22px;
  font-weight: 700;
}

.pontos span:last-child {
  font-size: 14px;
  opacity: 0.8;
}

/* BOTÃO INICIAR */
#btnIniciarQuiz {
  padding: 12px 25px;
  border-radius: 10px;
  background: red;
  font-weight: bold;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

#btnIniciarQuiz:hover {
  background: red;
}

/* PONTUAÇÃO */
#pontuacao {
  background: #181627;
  border: 2px solid #2b224a;
  padding: 15px;
  border-radius: 12px;
  color: white;
  gap: 10px;
}

#pontuacaoDuranteJogo span,
#pontuacaoFinalJogo span {
  font-size: 16px;
}

#jogo {
  background: #181627;
  border: 2px solid red;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Cabeçalho da questão */
#infoQuestao {
  background: red;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
}

/* Pergunta */
#perguntaDaQuestaoAtual {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  width: 85%;
  margin: 0 auto;
}

/* “Escolha uma opção” */
#infoAlternativas {
  text-align: center;
  opacity: 0.8;
}

/* ALTERNATIVAS */
#opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 25px;
}

#opcoes span {
  display: flex;
  align-items: center;
}

.option {
  padding: 18px 20px;
  background: #1f1a33;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
  min-height: 55px;
  display: flex;
  align-items: center;
}

.option:hover {
  background: #2b2541;
}

/* Ocultar radio */
.radio {
  display: none;
}

/* Quando o input estiver marcado, estiliza o label associado */
.radio:checked + .option {
  background-color: red;
  color: #fff;
  transform: scale(1.02);
}

/* CORRETO */
.text-success-with-bg {
  background-color: #35c759 !important;
  color: black !important;
}

/* ERRADO */
.text-danger-with-bg {
  background-color: #ff3b30 !important;
  color: white !important;
}



/* BOTÕES DO FINAL */
#botoes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

#btnSubmeter,
#btnProx,
#btnTentarNovamente {
  padding: 12px 25px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

/* Submeter */
#btnSubmeter {
  background: #ffffff !important;
  color: black;
}

#btnSubmeter:hover {
  opacity: 0.8;
}

/* Próxima */
#btnProx {
  background: red;
  color: white;
}

#btnProx:hover {
  background: red;
}

#btnProx:disabled {
  opacity: 0.35;
}

/* Tentar novamente */
#btnTentarNovamente {
  background: #444;
  color: white;
}

#btnTentarNovamente:hover {
  background: #555;
}

#btn_voltar{
  display: flex;
  justify-content: end;
}

#btn_voltar button{
  background-color: red;
  padding: 12px;
  border-radius: 25px;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-right: 15px;
}