* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: black;
    display: flex;
    padding: 20px;
    width: 100%;
    height: 82.3px;
    position: relative;
    align-items: center;
}

.botao_header {
    position: absolute;
    right: 0;
}

.botao_header button {
    background-color: red;
    padding: 8px;
    border-radius: 15px;
    width: 80px;
    color: white;
    font-weight: bold;
    border: none;
    margin-right: 8px;
}


